* {
  padding: 0;
  margin: 0;
}

:root {
  --greenhover: rgb(10, 219, 97);
}

.home-bg-img {
  width: 1545px;
  height: 715px;
  opacity: 0.7;
  margin-left: -10px;
  margin-top: -10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/Images/frozenfood-bg.png");
}

nav ul li {
  margin-top: 30px;
  margin-left: 100px;
  display: inline-block;
}

nav ul li a {
  font-size: 22px;
  color: white;
  font-weight: bolder;
  text-decoration: none;
}

nav ul li a:hover {
  color: var(--greenhover);
  text-decoration: underline;
}

.logo img {
  width: 80px;
  display: flex;
  margin-top: -40px;
  margin-left: 1400px;
}

.logo img:hover {
  border-radius: 50%;
  background-color: var(--greenhover);
}

.home-description h1,
.home-description p {
  text-align: center;
}

.home-description h1 {
  color: black;
  margin-top: 100px;
  font-weight: 800;
  font-size: 50px;
  text-transform: uppercase;
}

.home-description p {
  color: azure;
  margin-top: 30px;
  font-size: 25px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}

.product-categories {
  height: 710px;
}

.product-categories h1 {
  text-align: center;
}

.product-categories h1 span {
  color: white;
  margin-left: 20px;
  background-color: var(--greenhover);
  /* background-color: rgb(48, 125, 52); */
}

.product-categories > div {
  width: 300px;
  height: 280px;
  margin-top: 30px;
  margin-left: 140px;
  display: inline-block;
  background-color: rgb(214, 213, 211);
}

.product-categories > div:hover {
  background-color: rgb(217, 230, 218);
}

.product-categories .frozen-snacks {
  margin-left: 350px;
}

.product-categories h3 {
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
}

.product-categories img {
  width: 240px;
  height: 190px;
  margin-top: 10px;
  margin-left: 30px;
  border-radius: 30px;
}

.product-categories > div div {
  margin-left: 100px;
  margin-top: 10px;
}

.checked {
  color: var(--greenhover);
}

.buy-categories {
  height: 710px;
  background-color: rgb(238, 238, 238);
}

.buy-categories h1 {
  text-align: center;
}

.buy-categories h1 span {
  color: var(--greenhover);
}

.buy-categories > div {
  width: 400px;
  height: 470px;
  margin-top: 40px;
  margin-left: 120px;
  border-radius: 35px;
  display: inline-flex;
  background-color: rgb(217, 230, 218);
}

.buy-categories > div:hover {
  cursor: pointer;
  background-color: rgb(196, 225, 199);
}

.buy-categories .frozen-snacks,
.buy-categories .frozen-fruits {
  display: none;
}

.buy-categories .frozen-deserts,
.buy-categories .frozen-seafood {
  margin-left: 50px;
}

.buy-categories > div h2 {
  text-align: center;
}

.buy-categories img {
  width: 300px;
  height: 270px;
  margin-top: 40px;
  margin-left: 50px;
  border-radius: 35px;
}

.buy-categories > div h4,
.buy-categories > div h3 {
  color: rgb(78, 78, 78);
  font-size: 20px;
}

.buy-categories > div h3 {
  margin-top: 325px;
  margin-left: -250px;
}

.buy-categories > div h4 {
  margin-top: 325px;
  margin-left: 10px;
}

.buy-categories .quantity {
  width: 110px;
  height: 40px;
  margin-top: 320px;
  margin-left: 70px;
  border-radius: 25px;
  border: 2px solid black;
}

.buy-categories .quantity span {
  display: flex;
  font-size: x-large;
  margin-top: 1px;
  margin-left: 30px;
}

.quantity > svg {
  display: flex;
  margin-top: -25px;
  margin-left: 70px;
}

.quantity svg:nth-of-type(2) {
  margin-top: 2px;
}

.quantity svg:hover {
  cursor: pointer;
}

.buy-categories > div button {
  border: none;
  width: 120px;
  height: 40px;
  font-size: 15px;
  margin-top: 390px;
  border-radius: 35px;
}
.btn-buy {
  color: black;
  margin-left: -270px;
  background-color: rgb(30, 150, 110);
}

.btn-cart {
  color: white;
  margin-left: 20px;
  background-color: black;
}

.btn-buy:hover {
  color: white;
  background-color: var(--greenhover);
}

.btn-cart:hover {
  color: black;
  background-color: rgb(139, 138, 138);
}

.buy-categories input {
  width: 300px;
  height: 100px;
  margin-top: -10px;
  margin-left: 640px;
}

.contact-categorie {
  height: 700px;
  background-color: rgb(255, 255, 255);
}

.office,
.phone,
.fax,
.email {
  width: 200px;
  height: 170px;
  margin-top: 30px;
  margin-left: 310px;
  display: inline-table;
  background-color: rgb(237, 237, 237);
}

.phone,
.fax,
.email {
  margin-left: 20px;
}

.contact-categorie img {
  width: 60px;
  height: 50px;
  margin-top: 10px;
  margin-left: 70px;
}

.contact-categorie h2 {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.contact-categorie a {
  margin-top: 20px;
  margin-left: 40px;
  color: rgb(113, 113, 113);
  text-decoration: none;
}

.contact-categorie a:hover {
  color: var(--greenhover);
  text-decoration: underline;
}

.contact-us {
  width: 500px;
  height: 440px;
  margin-top: 30px;
  margin-left: 500px;
  text-transform: uppercase;
  background-color: rgb(220, 245, 223);
}

.contact-us h1 {
  text-align: center;
}

.contact-us form input {
  border: none;
  height: 25px;
  width: 320px;
  display: flex;
  margin-top: 30px;
  margin-left: 80px;
  border-radius: 20px;
}

input:focus {
  background-color: rgb(220, 219, 219);
}

#free-text {
  width: 330px;
  height: 130px;
  border-radius: 0;
}

form button {
  width: 100px;
  height: 30px;
  border: none;
  color: white;
  margin-top: 30px;
  font-weight: bold;
  margin-left: 200px;
  border-radius: 20px;
  background-color: rgb(30, 150, 110);
}

form button:hover {
  color: white;
  background-color: black;
}

/* styling to the element created through javascript */

#cart span{
  width: 20px;
  height: 20px;
  display: flex;
  color: white;
  margin-top: -65px;
  border-radius: 50%;
  margin-left: 1460px;
  margin-bottom: 110px;
  background-color:var(--greenhover);
}