* {
  padding: 0;
  margin: 0;
}

:root {
  --brownbeauty: brown;
  --ligtblack: rgb(70, 70, 70);
  --go-green: rgb(164, 208, 165);
  --secondarybg: rgb(237, 235, 235);
}

a {
  text-decoration: none;
}

.main .home nav img {
  width: 80px;
  margin-top: 20px;
  margin-right: 20px;
}

.home {
  background-color: var(--secondarybg);
}

.home img{
    width: 20px;
    margin-top: 40px;
}

.main .home nav {
  height: 30px;
  display: flex;
  justify-content: center;
  background-color: var(--go-green);
}

nav ul {
  display: flex;
  margin-top: 50px;
  list-style-type: none;
}

nav ul li a {
  color: black;
  font-size: 18px;
  margin-right: 80px;
}

nav ul li a:hover {
  color: var(--brownbeauty);
}

.home-img {
  height: 590px;
  background-color: var(--secondarybg);
}

.home-img img {
  width: 750px;
  height: 550px;
  display: flex;
  margin-top: 90px;
  margin-left: 380px;
  border-radius: 10%;
}

.circle-img h4 {
  width: 150px;
  height: 150px;
  color: black;
  font-size: 17px;
  text-align: center;
  border-radius: 50%;
  margin-left: 390px;
  margin-top: -570px;
  position: relative;
  background-color: var(--go-green);
}

.heading-img {
  margin-left: 400px;
  margin-top: 110px;
  color: black;
}

.heading-button button {
  border: none;
  width: 120px;
  height: 35px;
  color: black;
  margin-top: 20px;
  margin-left: 420px;
  border-radius: 25px;
  background: var(--go-green);
}

.heading-button button:hover {
  color: aliceblue;
  background: var(--brownbeauty);
}

.categories {
  height: 680px;
}

.categories img {
  width: 200px;
  height: 230px;
  margin-top: 20px;
  margin-left: 50px;
  border-radius: 25px;
}

.fruits,
.Frozen-Foods,
.Meat,
.vegetables {
  width: 300px;
  height: 340px;
  margin-top: 60px;
  margin-left: 50px;
  display: inline-block;
  border-radius: 25px;
  background-color:var(--go-green);
}

.fruits:hover,
.Frozen-Foods:hover,
.Meat:hover,
.vegetables:hover {
 cursor: pointer;
 background-color: rgb(194, 218, 194);
}  

.Meat{
  margin-left: 90px;
}

.heading-categories h1 {
  margin-top: 190px;
  text-align: center;
  color: var(--brownbeauty);
}

.categories h4 {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.categories button {
  color: white;
  width: 150px;
  height: 30px;
  border: none;
  font-size: 14px;
  margin-top: -20px;
  margin-left: 80px;
  border-radius: 24px;
  margin-bottom: 10px;
  background-color: black;
}

.categories button:hover {
  color:black;
  background-color:rgb(169, 83, 83);
}