* {
  padding: 0;
  margin: 0;
}

:root {
}

.background-img {
  opacity: 0.8;
  min-height: 712px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/Images/meat.png");
}

input[type="search"] {
  border: none;
  width: 550px;
  height: 32px;
  font-size: 14px;
  margin-top: 30px;
  margin-left: 480px;
  color: aliceblue;
  border-radius: 20px;
}

form input,
form button {
  background-color: rgb(0, 0, 0);
}

input[type="search"]::placeholder{
  color: #ddd5d5;
}

button[type="submit"] {
  width: 40px;
  opacity: 0.9;
  color: white;
  cursor: pointer;
  overflow: hidden;
  text-indent: -999px;
  border: 3px solid transparent;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
}

button[type="submit"]:hover {
  opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #643737;
  border-color: #643737;
  outline: none;
}

.background-img h1{
    color: #9e9a9a;
    margin-top: 70px;
    text-align: center;
}

.background-img p{
    font-size: 27px;
    color: #f9e5e5;
    text-align: center;
    margin: 50px 240px 10px 240px;
}