* {
  margin: 0;
  padding: 0;
}

.background {
  width: 1518px;
  height: 744px;
  opacity: 0.8;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/Images/fruits-bg1.png");
}

.logo img {
  width: 110px;
  height: 100px;
}

#searchForm {
  display: flex;
}

input {
  color: rgb(0, 0, 0);   
  width: 600px;
  height: 30px;
  border: none;
  margin-top: -60px;
  margin-left: 420px;
  border-radius: 20px;
  background-color: rgb(175, 201, 183);
}

input[type="search"]::placeholder {
    color: #121111;
    font-size: 15px;
}

input[type="search"]:focus {
    font-size: 20px;
    outline: none;
    border-color: #131212;
    box-shadow: 0 0 3px 0 #161515;
}

svg{
    width: 30px;
    height: 40px;
    margin-top: -60px;
    margin-left: 10px;
}

.help img,
.cart img {
  width: 60px;
  height: 60px;
  margin-top: -250px;
  display: inline;
}

.help img:hover, .cart img:hover{
    background-color: rgb(144, 110, 110);
}

.help img {
  width: 50px;
  margin-left: 310px;
}

.cart img {
  margin-left: 20px;
}

.background h3{
    color: rgb(144, 74, 74);
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

.categorie-show{
    height: 745px;
}
