* {
  margin: 0;
  padding: 0;
}

:root{
  --apple-green: rgb(74, 137, 106);
  --apple-greenlight: rgb(173, 205, 188);
}


.background {
  width: 1518px;
  height: 744px;
  opacity: 0.8;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/Images/fruits-bg1.png");
}

.logo img {
  width: 110px;
  height: 100px;
}

#searchForm {
  display: flex;
}

input {
  color: rgb(0, 0, 0);
  width: 600px;
  height: 30px;
  border: none;
  margin-top: -60px;
  margin-left: 420px;
  border-radius: 20px;
  background-color: rgb(175, 201, 183);
}

input[type="search"]::placeholder {
  color: #121111;
  font-size: 15px;
}

input[type="search"]:focus {
  font-size: 20px;
  outline: none;
  border-color: #131212;
  box-shadow: 0 0 3px 0 #161515;
}

svg {
  width: 30px;
  height: 40px;
  margin-top: -60px;
  margin-left: 10px;
}

.help-cart {
  margin-top: -80px;
}

.help-cart img {
  width: 60px;
  height: 60px;
  display: inline-block;
}

.help img:hover,
.cart img:hover {
  background-color: rgb(144, 110, 110);
}

.help img {
  width: 50px;
  margin-left: 280px;
}

.cart img {
  margin-left: 20px;
}

.background h3 {
  font-size: 30px;
  margin-top: 40px;
  text-align: center;
  text-transform: capitalize;
  color: var(--apple-green);
  font-family: cursive;
}

.intro-1,
.intro-2,
.intro-3 {
  color: rgb(6, 6, 6);
  width: 280px;
  height: 230px;
  margin-top: 100px;
  margin-left: 90px;
  opacity: 0.8;
  display: inline-table;
  background-color: rgb(255, 226, 199);
}

.intro-1 {
  margin-left: 280px;
}

.intro > div h4 {
  font-size: 19px;
  margin-top: 60px;
  color: brown;
  text-align: center;
}

.categorie-show {
  height: 730px;
  background-color: antiquewhite;
}

.categorie-show img {
  width: 130px;
  height: 120px;
  margin-left: 10px;
  border-radius: 50%;
}

.categorie-show a{
  display: block;
  color: #121111;
  font-size: 20px;
  text-decoration: none;
}

.upper-categorie > div a:nth-of-type(2),
.lower-categorie > div a:nth-of-type(2){
  margin-left: 50px;
}

.categorie-show a:hover{
  color: brown;
  text-decoration:solid underline;
}

.upper-categorie div{
  margin-top: 40px;
  margin-left: 130px;
  display: inline-block;
}

.lower-categorie div{
  margin-top: 20px;
  display: inline-block;
}

.c-watermelon{
  margin-left: 420px;
}

.c-pomegranate, .c-strawberries{
  margin-left: 100px;
}

.ctg-banner{
  width: 1518px;
  height: 240px;
  margin-top: 80px;
  margin-bottom: 20px;
  border-radius: 25px;
  position: absolute;
  background-color: var(--apple-greenlight);
}

.inner-banner{
  width: 580px;
  height: 160px;
  margin-top: 45px;
  margin-left: 460px;
  border-radius: 25px;
  background-color: white;
}

.inner-banner h4{
  color: brown;
  font-size: 22px;
  text-align: center;
}

.inner-banner img{
  width: 30px;
  height: 30px;
  margin-top: 20px;
  margin-left: 210px;
}

.inner-banner a{
  margin-top: -30px;
  margin-left: 250px;
  color: rgb(108, 107, 107);
}

.inner-banner a:hover{
  color: var(--apple-green);
}