*{
    padding: 0;
    margin: 0;
}

:root{
    --greenhover: rgb(10, 219, 97);
}

.home-bg-img{
    width: 1545px;
    height: 710px;
    opacity: 0.7;
    margin-left: -10px;
    margin-top: -10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/Images/frozenfood-bg.png");
}

nav ul li {
    margin-top: 30px;
    margin-left: 100px;
    display: inline-block;
  }
  

nav ul li a{
    font-size: 22px;
    color: white;
    font-weight: bolder;  
    text-decoration: none;
}

nav ul li a:hover{
    color: var(--greenhover);
    text-decoration: underline;
}

.logo img{
    width: 80px;
    display: flex;
    margin-top: -40px;
    margin-left: 1400px;
}

.logo img:hover{
    border-radius: 50%;
    background-color: var(--greenhover);
}

.home-description h1, .home-description p{
   text-align: center;
}

.home-description h1{
    color: black;
    margin-top: 100px;
    font-weight: 800;
    font-size: 50px;
    text-transform: uppercase;
}

.home-description p{
    color: azure;
    margin-top: 30px;
    font-size: 25px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}